In [1]:
import pandas as pd
import mysql.connector as connector
import helpers

from importlib import reload

helpers = reload(helpers)

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
connection, cursor = helpers.root_connect(connector)

Connected successfully.

In [5]:
helpers.show_dbs(connection, cursor)

Available databases:
{'Database': 'excel_data'}
{'Database': 'information_schema'}
{'Database': 'LittleLemonDB'}
{'Database': 'mysql'}
{'Database': 'performance_schema'}
{'Database': 'sys'}

Database in use:
littlelemondb

In [4]:
cursor.execute("USE LittleLemonDB")

In [10]:
cursor.execute("""SHOW TABLES;""")

In [11]:
tables = cursor.fetchall()

In [28]:
cursor.execute("""SELECT *
FROM Customers
JOIN Orders
ON Customers.CustomerID = Orders.CustomerID
WHERE Sales > 60;""")

In [29]:
result = cursor.fetchall()

In [30]:
pd.DataFrame(result)

,CustomerID,CustomerName,OrderDate,OrderID,LocationID,MenuID,Cost,Sales,Quantity,Discount
0,21-950-4765,Gale Reeves,2021-02-04,64-446-6092,1,17,44.57,66.86,3,73.09
1,38-029-8372,Sherye Christmas,2019-06-14,90-256-2320,2,22,144.09,216.14,2,94.76
2,77-348-8809,Lorna Bogart,2020-11-30,37-255-6435,3,52,101.60,152.40,3,31.20
3,72-055-7985,Laney Fadden,2020-06-15,54-366-6861,4,1,125.00,187.50,2,20.00
4,97-361-6034,Natka Featenby,2020-12-26,99-679-0062,5,23,101.60,152.40,1,20.00
...,...,...,...,...,...,...,...,...,...,...
20995,67-746-6460,Ara McWard,2020-07-01,72-306-1723,20996,68,125.00,187.50,3,10.00
20996,44-431-8932,Elvira Beverstock,2021-05-03,53-622-3155,20997,69,235.00,352.50,3,53.53
20997,82-729-5605,Westbrooke Blindt,2020-11-21,03-568-8174,20998,70,75.00,112.50,2,23.00
20998,77-869-4945,Maribelle Allcroft,2019-10-05,05-318-1801,20999,71,220.00,330.00,1,73.09
20999,53-704-6388,Roosevelt Grigg,2020-09-01,26-802-1005,21000,72,320.00,480.00,2,20.33