In [1]:
import pandas as pd
import os

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [7]:
print(os.listdir("."))

['Untitled.ipynb', 'README.md', '.ipynb_checkpoints', '.git', 'LittleLemon_data.xlsx']

In [2]:
dat_files = [ f for f in os.listdir(".") if f.endswith(".xlsx") ]

In [3]:
data = pd.read_excel(dat_files[0])

In [6]:
data.head()

,Row Number,Order ID,Order Date,Delivery Date,Customer ID,Customer Name,City,Country,Postal Code,Country Code,...,Sales,Quantity,Discount,Delivery Cost,Course Name,Cuisine Name,Starter Name,Desert Name,Drink,Sides
0,1,54-366-6861,2020-06-15,2020-03-26,72-055-7985,Laney Fadden,Daruoyan,China,993-0031,CN,...,187.5,2,20.00,60.51,Greek salad,Greek,Olives,Greek yoghurt,Athens White wine,Tapas
1,2,63-761-3686,2020-08-25,2020-07-17,65-353-0657,Giacopo Bramich,Ongjin,North Korea,216282,KP,...,352.5,1,15.00,96.75,Bean soup,Italian,Flatbread,Ice cream,Corfu Red Wine,Potato salad
2,3,65-351-6434,2021-08-17,2020-04-24,90-876-6799,Lia Bonar,Quince Mil,Peru,663246,PE,...,112.5,3,10.52,36.37,Pizza,Italian,Minestrone,Cheesecake,Italian Coffee,Bruschetta
3,4,36-917-2834,2021-08-14,2020-04-13,73-873-4827,Merrill Baudon,Susaki,Japan,987-0352,JP,...,330.0,3,11.23,5.49,Carbonara,Turkish,Tomato bread,Affogato,Roma Red wine,Focaccia
4,5,86-114-9232,2020-12-20,2021-02-02,80-927-5246,Tasia Fautly,Tobruk,Libya,351 01,LY,...,480.0,2,51.05,63.64,Kabasa,Greek,Falafel,Turkish yoghurt,Ankara White Wine,Meatballs

## menu_items = data[["Course Name", "Starter Name", "Desert Name", "Drink", "Sides", "Cuisine Name"]]

In [19]:
menu_items

,Course Name,Starter Name,Desert Name,Drink,Sides,Cuisine Name
0,Greek salad,Olives,Greek yoghurt,Athens White wine,Tapas,Greek
1,Bean soup,Flatbread,Ice cream,Corfu Red Wine,Potato salad,Italian
2,Pizza,Minestrone,Cheesecake,Italian Coffee,Bruschetta,Italian
3,Carbonara,Tomato bread,Affogato,Roma Red wine,Focaccia,Turkish
4,Kabasa,Falafel,Turkish yoghurt,Ankara White Wine,Meatballs,Greek
...,...,...,...,...,...,...
20995,Shwarma,Flatbread,Baklava,Turkish Coffee,Fries,Turkish
20996,Greek salad,Minestrone,Greek yoghurt,Athens White wine,Tapas,Greek
20997,Bean soup,Tomato bread,Ice cream,Corfu Red Wine,Potato salad,Italian
20998,Pizza,Falafel,Cheesecake,Italian Coffee,Bruschetta,Italian
20999,Carbonara,Hummus,Affogato,Roma Red wine,Focaccia,Turkish

In [26]:
menu_items['Course Name'].unique()

array(['Greek salad', 'Bean soup', 'Pizza', 'Carbonara', 'Kabasa',
       'Shwarma'], dtype=object)

In [27]:
menu_items['Desert Name'].unique()

array(['Greek yoghurt', 'Ice cream', 'Cheesecake', 'Affogato',
       'Turkish yoghurt', 'Baklava'], dtype=object)

In [28]:
menu_items['Drink'].unique()

array(['Athens White wine', 'Corfu Red Wine', 'Italian Coffee',
       'Roma Red wine', 'Ankara White Wine', 'Turkish Coffee'],
      dtype=object)

In [29]:
menu_items['Sides'].unique()

array(['Tapas', 'Potato salad', 'Bruschetta', 'Focaccia', 'Meatballs',
       'Fries'], dtype=object)

In [31]:
menu_items['Starter Name'].unique()

array(['Olives', 'Flatbread', 'Minestrone', 'Tomato bread', 'Falafel',
       'Hummus'], dtype=object)